In [2]:
var1=10
var3=7
print(var1," and ", var3)
var1==var3

print(var1<var3)

10  and  7
False

In [4]:
var1==var3

False

In [2]:
x=10
def f1():
    #local variable
    y=5
    print(y)
    
    print(y)
    f1()

In [5]:
var1

10

In [6]:
3 == 4

False

In [7]:
3 != 4

True

In [8]:
seema=20
Raj=15
if(seema>Raj and seema >18):
    print("seema is bold and she can vote")
else:
    print("Seema is not mature enough to vote")

seema is bold and she can vote

In [9]:
5**2

25

In [10]:
5**3

125

In [11]:
pow(5,2)

25

In [12]:
import math
math.floor(12/2)

6

In [14]:
import math
math.floor(12/5)

2

In [16]:
## math --->floor,ciel,pow etc

In [17]:
x=input("Enter something")
print(x)

Enter somethingmy name is saharsh
my name is saharsh

In [18]:
import pandas
type(pandas.DataFrame())

import abc
type(abc)

module

In [19]:
seema=23
raj=15
if (seema<raj):
    print("They are not of same age")
else:
    print("No idea")

No idea

## bitwise operator is basically used to do operations on bits .in base level its understands 0 and 1.Operations that are done in bits .Whatever we write its converts to machine level format which are in binary numbers

## machine only understands 0 and 1 . each decimal numbers there are number of  formats

In [20]:
# recursive function
def Print_Binary_Values(num):
    # base condition
    if(num > 1):
        Print_Binary_Values(num // 2)
    print(num % 2, end="")
  
  
# driver code
if __name__ == "__main__":
    N = 5
  
    # looping N times
    for i in range(1, N+1):
        Print_Binary_Values(i)
        print(end=" ")

1 10 11 100 101

In [21]:
var1= ["prasoon", "Ashu","Atul",43,"Ashu"]
var1[0:3] # Strting value:Ending value-1"

list1=[]
print(var1)

['prasoon', 'Ashu', 'Atul', 43, 'Ashu']

In [22]:
#set
var2={'prasoon',"ashu","Dilip","Ashu"}
var2.add('ferguson')

In [23]:
var2

{'Ashu', 'Dilip', 'ashu', 'ferguson', 'prasoon'}

In [24]:
print('Ashu' in var2)

True

In [25]:
#Dictionary

var3= {1: 'edureka' ,2: 'Infosys' ,3: 'suresh'}
var4=['edureka','Infosys']
type(var3)

dict

In [3]:
var3= {1: 'edureka',2: 'Infosys',3: 'suresh'}
var4=[]

In [5]:
#Global variable
Employee_name="Yash"
def Address():
    Pin:int(input("Type pin no"))
    state=[]
    x=input("Write down the state name")
    state.append(x)
    print("Record inserted")
    print("details are",Employee_name,"is from",state[0],"and pin is",Pin)
    
    if (Employee_name == "yash"):
        Address()

In [13]:
check=3
name=[]

def add(a):
  name.append(n)

In [11]:
n=input("Enter name")
if(len(name)<2):
   check = 3
else:
   check = 1

if(check==3):
   add(n)
else:
   print("storage Full for the list")

Enter namejay

NameError: name 'name' is not defined

In [14]:
A = []
B={'bmw'}
c={'key':'value'}
print(type(A))

<class 'list'>

In [15]:
type(B)

set

In [16]:
type(c)

dict

In [22]:
A = ['kiwi', 'Mango', 'Guava']
B = {'BMW','honda'}
C = {'name':'Hamid','Age':25,'Blood_gr':"o+"}
C2={'name':'Hamid','Age':20,'Blood_gr':"A+"}
c.update(C2)
print(C)

{'name': 'Hamid', 'Age': 25, 'Blood_gr': 'o+'}

In [21]:
A[1]

'Mango'

In [19]:
C.get('name')

'Hamid'

In [23]:
print(B)

{'honda', 'BMW'}

In [24]:
print(B)
print('BMW' in B)

{'honda', 'BMW'}
True

In [26]:
for x in B:
    print(x)

honda
BMW

In [27]:
a = 2 #10
b = 3 #11

In [28]:
5 << 1

10

In [32]:
2 << 2
 #00000010 --> 00001000

8

In [33]:
# 7* 4= 28
7 <<2

28